.header_sec {
    background-color: #576F72;
    padding: 20px;

    .header_row {
        align-items: center;

        .logo_col {
            text-align: left;

            a {
                font-size: 50px;
                color: #fff;
                line-height: 1;
                font-family: 'Marck Script', sans-serif;
            }
        }

        .header_menu {

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: end;
                grid-column-gap: 35px;
                margin: 0;
                padding: 0;

                li {
                    position: relative;

                    a {
                        color: #fff;
                        display: inline-block;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 2;
                        display: inline-block;

                        &:hover, &.active {
                            color: #E4DCCF;
                        }
                    }

                    .submenu {
                        display: none;
                        background-color: #f0ebe3;
                        position: absolute;
                        top: 100%;
                        text-align: left;
                        width: max-content;
                        box-shadow: 0 0 14px -6px #576f72;

                        &:hover {
                            display: block;
                        }

                        a {
                            color: #576f72;
                            padding: 10px 15px;
                            display: block;
                            line-height: 1;

                            &:hover {
                                background-color: #576f72;
                                color: #f0ebe3;
                            }
                        }
                    }

                    &.active {

                        .submenu {
                            display: block;
                        }
                    }
                }

            }
        }
    }
    
}