.header_sec {
    background-color: #576F72;
    padding: 20px;

    .header_row {
        align-items: center;

        .logo_col {
            color: #fff;
            font-size: 50px;
            line-height: 1;
            text-align: left;
            font-family: 'Marck Script', sans-serif;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .header_menu {

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: end;
                grid-column-gap: 35px;
                margin: 0;
                padding: 0;

                a {
                    color: #fff;
                    text-decoration: none;
                    display: inline-block;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 1.5;
                    display: inline-block;
                    transition: all 0.2s linear;
                    font-family: 'Nunito', sans-serif;

                    &:hover, &.active {
                        color: #E4DCCF;
                    }
                }
            }
        }
    }
    
}