.faqs_main_sec {
    padding: 80px 0;
    background-color: #F0EBE3;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 154px);
    font-family: "Nunito", sans-serif;

    .faqs_content {
        margin-top: 50px;

        .accordion {
            border: 0;
        }

        .faq_item {
            margin-bottom: 20px;
            border: 1px solid #576f72;

            &.active {

                .faq_desc {
                    display: block;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
            
            .accordion__button, .faq_title {
                font-size: 20px;
                text-align: left;
                padding: 15px;
                background-color: #576f72;
                color: #fff;
                position: relative;
                margin: 0;
                cursor: pointer;
            }
    
            .faq_desc {
                text-align: left;
                padding: 10px 15px 15px;
                display: none;

                p {
                    margin: 0;
                }
            }
        }
        
    }

} 