.footer_sec {
    background-color: #576F72;
    padding: 20px;

    .icon {
        color: #fff;
        font-size: 20px;
        line-height: 1;
        margin: 0 10px;

        a {
            color: #fff;
        }
    }
}
